.Weather {
	display: block;
	margin: 0 auto;
	color: white;
	width: 50%;
	border: 1px solid #0c4e87;
	border-radius: 4px;
	background-image: linear-gradient(
		to right top,
		#457fb3,
		#5e93c4,
		#77a8d5,
		#8fbde6,
		#a7d2f8
	);
	padding: 30px 45px;
	margin-bottom: 30px;
}

form {
	display: inline;
	margin-bottom: 20px;
}
button {
	color: white;
	background-color: #0c4e87;
	transition: all 200ms ease-in-out;
}
button:hover {
	opacity: 0.8;
	cursor: pointer;
}
h2 {
	margin-top: 20px;
}
h1 {
	margin-top: 15px;
	padding-left: 30px;
	font-weight: 900;
}
.search {
	border: 1px solid #0c4e87;
	border-radius: 30px;
	line-height: 2;
	margin-right: 5px;
}
.today {
	font-size: 70px;
}

.day {
	margin: 10px;
	padding: 10px;
	text-align: center;
	border: 1px solid white;
	border-radius: 4px;
	transition: all 200ms ease-in-out;
}
.day:hover {
	background-image: linear-gradient(
		to right top,
		#457fb3,
		#5e93c4,
		#77a8d5,
		#8fbde6,
		#a7d2f8
	);
}

.degree {
	font-size: 30px;
	position: relative;
	bottom: 27px;
}
.active {
	text-decoration: none;
}
#search-city:hover {
	border: 1px solid white;
}
#fahrenheit,
#сelsius {
	color: white;
}

#git-link {
	text-decoration: none;
}
#icon {
	padding-left: 30px;
}
#description {
	text-transform: capitalize;
}
@media (max-width: 1024px) {
	.Weather {
		display: flex;
		width: 100%;
		padding: 30px 10px 30px 45px;
	}
}
@media (max-width: 415px) {
	.Weather {
		display: flex;
		width: 100%;
		padding-right: 10px;
	}
	h1,
	h2 {
		text-align: center;
		padding: 0;
		margin: 15px 0;
	}
	button,
	input {
		width: 80%;
		margin-top: 10px;
	}
	#icon {
		display: block;
		margin: 0 auto;
		padding: 0 0 0 17px;
	}
}
